.htn-sticky-note-class {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    z-index: 10000;
    position: absolute;
    background-color: #ffc;
    padding: 1em;
    font-family: arial, sans-serif;
    overflow-wrap: break-word;
    -webkit-box-shadow: 1px 1px 7px rgba(33, 33, 33, 0.7);  
    resize: both;
  }
  
  .note-field, .note-field:focus, .note-field:active {
    width: 90%;
    height: 90%;
    background-color: #ffc;
    border: 0;
  }
  
  
  .close-button {
    background-color: #ffc;
    color: #333;
    height: 5px;
    width: 5px;
    position: relative;
    top: 0;
    right: 0;
  }
  
  .close-button:hover {
    color: #222;
    background-color: #ffc;
  }
  