@font-face {
  font-family: 'TenorSans';
  src: local('TenorSans'), url('./fonts/TenorSans-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  font-family: "TenorSans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 430px;
  height: 590px;
  background-color: #F1FAEE;
  margin: 0;
  overflow: hidden;
  scrollbar-width: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}