.TimerContainer{
    display: flex;
    justify-content: center ;
    align-items: center;
    height: 80vh;
    flex-direction: column;
    
}
#time{
font-size: 125px;
color: #264653;

}
body{
    background-color: #F1FAEE;
}

.buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    

}

.TimerContainer button{
    padding: 20px;
    margin: 5px;
    background-color: #2A9D8F;
    border-radius: 50px;
    width: 150px;
    height: auto;
    font-size: 25px;
    color: aliceblue;
}

#chat {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%; /* Fill the entire height of the container */
    padding: 20px;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    height: 500px;
    margin-top: 80px;
    margin-right: 50px;
    width: 225px;
}

.chat-container{
    display: flex;
    position: fixed;
    top: 0; /* Adjust top position as needed */
    right: 0; /* Align to the right side of the page */
    width: 300px; /* Adjust the width of the chat container */
    height: 100vh; /* Make it full height of the viewport */
    background-color: #2A9D8F; 
    transition: transform 0.3s ease-in-out;
    border-radius: 20px;
    border:5px solid;
    border-color:#264653;
}

.chat button{
    width: 50px;
}

#open-Chat{
    position: fixed;
  top: 20px; /* Adjust the distance from the top */
  right: 320px; /* Adjust the distance from the right */
  z-index: 999; /* Ensure it's above other elements */
}

#close-Chat{
    width: 50px;
    height: 50px;
    margin: -3px;
    border-top-left-radius: 20px
    
  
}
#chat-form{
 margin-top: 620px;

}

#send-button {
    display: flex;
   justify-content: center;
   margin-left: 55PX;

}
